<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361165861342-iphnhtt0ptq5ieb3agkf74dl9pekmo50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361165861342-iphnhtt0ptq5ieb3agkf74dl9pekmo50</string>
	<key>API_KEY</key>
	<string>AIzaSyBtNlXF3yjB-gR5rARx84xLaJaiUzLhKqc</string>
	<key>GCM_SENDER_ID</key>
	<string>361165861342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mfysTechnology.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mfys-technology-49193</string>
	<key>STORAGE_BUCKET</key>
	<string>mfys-technology-49193.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361165861342:ios:5aa1ef91d1433c7ed8ed4f</string>
</dict>
</plist>